body {

    background-color: $color-fondo;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
    color: #82a3a1;
    text-align: center;
}

header {
    background-color: #465362;
    border-top: 10px solid #011936;
}

footer {
    text-align: center;
    border-top: 3px #011936 solid;
    font-size: 20px;
    background-color: #82a3a1;
    padding: 10px;
}

ul {
    background-color: #465362;
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    padding: 20px;
    text-align: center;
    color: #011936;
}