/*PATROCINADORES*/

.tituloPatrocinadores {
    background-color: #011936;
    padding-left: 15%;
}

.imgPatrocinadores {
    width: 600px;
    height: 400px;

    &:hover {
        transition: all 0.5s;
        width: 650px;
        height: 450px;
    }
}