/*PATROCINADORES*/

.tituloPatrocinadores {
    background-color: $color-contenedores;
    padding-left: 15%;
}

.imgPatrocinadores {
    &:hover {
        transition: all 0.5s;
        width: 650px;
        height: 450px;
    }

    width: 600px;
    height: 400px;
}