body {
    background-color: #465362;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1 {
    color: #82a3a1;
}

.titulo {
    background-color: #011936;
}

.navegacion {
    background-color: #82a3a1;
    text-align: center;
    text-decoration: none;
    color: #011936;
    border-top: #011936 solid 10px;

}

.carrusel {
    width: 700px;
    height: 700px;
}





footer {
    text-align: center;
    border-top: 3px #011936 solid;
    font-size: 20px;
    background-color: #82a3a1;

}

ul {
    background-color: #82a3a1;
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: #011936;
}

.contenedorError {
    background-color: #011936;
}

.mensajeUps{
    color: #82a3a1;
    text-align: center;
    padding: 400px;
}



/*NOSOTROS*/

/*CURSOS*/









/*DONDE ENCONTRARNOS*/



/*CONTACTO*/



.botones {
    border: 3px #011936 solid;
    border-radius: 5px;
    background-color: #011936;
    color: #465362;
    font-size: 25px;
}